.ZimmerBoard{
    height: 8200px;
    
}

.Homebuilderklein{
    width: 150px;
    height: 150px;
}
.Homebuilder-button{
    width: 150px;
    height: 150px;
    border: none;
   margin-left: 250px;
}
.Wohnzimmerklein{
    width: 150px;
    height: 150px;
}
.Wohnzimmer-button{
    width: 150px;
    height: 150px;
    border: none;
   margin-left: 10px;
}
.Küchenklein{
    width: 150px;
    height: 150px;
}
.Küchen-button{
    width: 150px;
    height: 150px;
    border: none;
   margin-left: 10px;
}
.Schlafzimmer1klein{
    width: 150px;
    height: 150px;
}
.Schlafzimmer1-button{
    width: 150px;
    height: 150px;
    border: none;
   margin-left: 10px;
}
.Schlafzimmer2klein{
    width: 150px;
    height: 150px;
}
.Schlafzimmer2-button{
    width: 150px;
    height: 150px;
    border: none;
   margin-left: 10px;
}
.Schlafzimmer3klein{
    width: 150px;
    height: 150px;
}
.Schlafzimmer3-button{
    width: 150px;
    height: 150px;
    border: none;
   margin-left: 10px;
}
.Bad1klein{
    width: 150px;
    height: 150px;
}
.Bad1-button{
    width: 150px;
    height: 150px;
    border: none;
   margin-left: 10px;
}
.Bad2klein{
    width: 150px;
    height: 150px;
}
.Bad2-button{
    width: 150px;
    height: 150px;
    border: none;
    position: relative;
    top: 210px;
    right: 1110px;
}
.WC1klein{
    width: 150px;
    height: 150px;
}
.WC1-button{
    width: 150px;
    height: 150px;
    border: none;
    position: relative;
    top: 57px;
    left: 410px;
}
.WC2klein{
    width: 150px;
    height: 150px;
}
.WC2-button{
    width: 150px;
    height: 150px;
    border: none;
    position: relative;
    top: 57px;
    left: 420px;
}
.Waschmaschineklein{
    width: 150px;
    height: 150px;
}
.Waschmaschine-button{
    width: 150px;
    height: 150px;
    border: none;
    position: relative;
    left: 430px;
    top: 57px;
} 
.Bilder-Text{
   margin-bottom: 10px;  
   margin-left: 250px;
}
.Homebuildergross{
    width: 350px;
    height: 400px;
    margin-top: 180px;
    margin-left: 500px;
}
.Draussen{
    width: 350px;
    height: 400px;
    margin-left: 10px;
}
.Homebuilder-Text{
    position: relative;
    top: 235px;
    left: 80px;
}
.Wohnzimmergross{
    width: 710px;
    height: 570px;
    margin-top: 100px;
    margin-left: 500px;
}
.Wohnzimmer-Text{
    position: relative;
    top: 150px;
    left: 80px;
}
.Küchengross{
    width: 710px;
    height: 570px;
    margin-top: 100px;
    margin-left: 500px;
}
.Kitchen2{
    width: 350px;
    height: 300px;
    margin-top: 5px;
    margin-left: 500px;
}
.Kitchen1{
    width: 350px;
    height: 300px;
    margin-left: 10px;
}
.Küchen-Text{
    position: relative;
    top: 150px;
    left: 80px;
}
.Schlafzimmer1gross{
    width: 710px;
    height: 570px;
    margin-top: 100px;
    margin-left: 500px;
}
.Zimmer102{
    width: 350px;
    height: 300px;
    margin-top: 5px;
    margin-left: 500px;
}
.Zimmer103{
    width: 350px;
    height: 300px;
    margin-left: 10px;
}
.Schlafzimmer1-Text{
    position: relative;
    top: 170px;
    left: 180px;
}
.Schlafzimmer1untertext
{
    position: relative;
    top: 180px;
    left: 180px;
    color: gray;
}
.Schlafzimmer2gross{
    width: 350px;
    height: 400px;
    margin-top: 100px;
    margin-left: 500px;
}
.Zimmer202{
    width: 350px;
    height: 400px;
    margin-left: 10px;
}

.Schlafzimmer2-Text{
    position: relative;
    top: 170px;
    left: 180px;
}
.Schlafzimmer2untertext
{
    position: relative;
    top: 180px;
    left: 180px;
    color: gray;
}
.Schlafzimmer3gross{
    width: 350px;
    height: 400px;
    margin-top: 100px;
    margin-left: 500px;
}
.Zimmer302{
    width: 350px;
    height: 400px;
    margin-left: 10px;
}

.Schlafzimmer3-Text{
    position: relative;
    top: 170px;
    left: 180px;
}
.Schlafzimmer3untertext
{
    position: relative;
    top: 180px;
    left: 180px;
    color: gray;
}

.Bad1gross{
    width: 350px;
    height: 400px;
    margin-top: 100px;
    margin-left: 500px;
}
.Bad101{
    width: 350px;
    height: 400px;
    margin-left: 10px;
}

.Bad1-Text{
    position: relative;
    top: 150px;
    left: 70px;
}
.Bad2gross{
    width: 350px;
    height: 400px;
    margin-top: 100px;
    margin-left: 500px;
}
.Bad201{
    width: 350px;
    height: 400px;
    margin-left: 10px;
}

.Bad2-Text{
    position: relative;
    top: 150px;
    left: 70px;
}
.WC1gross{
    width: 710px;
    height: 600px;
    margin-top: 100px;
    margin-left: 500px;
}
.WC1-Text{
    position: relative;
    top: 150px;
    left: 80px;
}
.WC2gross{
    width: 710px;
    height: 630px;
    margin-top: 100px;
    margin-left: 500px;
}
.WC2-Text{
    position: relative;
    top: 150px;
    left: 80px;
}
.Waschmaschinegross{
    width: 710px;
    height: 630px;
    margin-top: 100px;
    margin-left: 500px;
}
.Waschmaschine-Text{
    position: relative;
    top: 150px;
    left: 80px;
}
.top-btn-position {
    position: fixed;
    bottom: 50px;
    right: 20px;
}  
  .top-btn-style {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }
  
  .top-btn-style:hover {
    animation: none;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
  }