.maps{
margin-left: 260px;
position: relative;
bottom: 40px;
}
.Standort
{
    display: flex;
    justify-content: space-between;
}
.Titel{
   position: relative;
   bottom: 40px;
   right: 20px;
}
.SubTitel{
    position: relative;
    bottom: 35px;
    right: 20px;
}
.infotext{
   font-size: 15px;
   position: relative;
   right: 20px;
   bottom: 20px;
}
.infotext2{
    font-size: 15px;
   bottom: 15px;
   position: relative;
   right: 20px;
}
.Busmodul{
    display:flex; 
    flex-direction:row;
    position: relative;
    bottom: 5px;
    right: 20px;
}
.Busmodul .Bus{
    width: 30px;
    height: 30px;
    color: #fc03e8;
}
.Busmodul .Bus_Text
{
    font-size:medium;
    position: relative;
    top: 5px;
}
.Supermarktmodul{
    display:flex; 
    flex-direction:row;
    position: relative;
    right: 20px;
}
.Supermarktmodul .Supermarkt{
    width: 30px;
    height: 30px;
    color: #fc03e8;
}
.Supermarktmodul .Supermarkt_Text
{
    font-size:medium;
    position: relative;
    top: 5px;
}
.Flughafenmodul{
    display:flex; 
    flex-direction:row;
    position: relative;
    top: 3px;
    right: 20px;
}
.Flughafenmodul .Flughafen{
    width: 30px;
    height: 30px;
    color: #fc03e8;
}
.Flughafenmodul .Flughafen_Text
{
    font-size:medium;
    position: relative;
    top: 5px;
}
.Bahnhofmodul{
    display:flex; 
    flex-direction:row;
    position: relative;
    right: 20px;
    top: 8px;
}
.Bahnhofmodul .Bahnhof{
    width: 30px;
    height: 30px;
    color: #fc03e8;
}
.Bahnhofmodul .Bahnhof_Text
{
    font-size:medium;
    position: relative;
    top: 5px;
}
.Messemodul{
    display:flex; 
    flex-direction:row;
    position: relative;
    top: 15px;
    right: 20px;
}
.Messemodul .Messe{
    width: 30px;
    height: 30px;
    color: #fc03e8;
}
.Messemodul .Messe_Text
{
    font-size:medium;
    position: relative;
    top: 5px;
}