.footer {
    width: 100%;
    background-color: #fc03e8;
    position: fixed;
    bottom: 0px; /* Platzieren des Footers am unteren Bildschirmrand */
    height: 30px; /* Höhe des Footers */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
   
.left_content .Footer_Information {
    margin-right: auto; /* Schiebt den Text "© 2024 TooToo, Inc." an den linken Rand */
    color: black;
  }
  
  .center-content {
    display: flex;
    flex-grow: 1; /* Nimmt den verfügbaren Raum in Anspruch */
    justify-content: center; /* Zentriert den Inhalt horizontal */
    margin-right: 150px;
    color: black;
  }

  .center-content a{
    margin: 0 10px;
    color: #333;
    text-decoration: none;
  }



  