.Titel-Unterkunkft
{
   color: #fc03e8;
   font-family: serif;
   font-size: 40px;
   position: relative;
   left: 580px;
   bottom: 62px;
}
.row{
    display:flex; 
    flex-direction:row;
}
.Wand{
    border-color: green;
}