:root {
  --padding: 18px;
}

details {
  padding: auto;
  box-shadow: inset 0 0 0 4px;
  border-radius: 4px;
  width: 65%;
  margin-left: 300px;
  color: #fc03e8;
}
details[open] {
  padding-bottom: var(--padding);
}

details > summary {
  display: flex;
  padding: var(--padding);
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
  justify-content: space-between;
  list-style: none; /* Hides the default arrow */
  color:black;
}
details[open] > summary {
  box-shadow: 0 4px;
}
/* Adds an icon when the content is closed... */
details > summary::after {
  content: "+";
  margin-right: 10px;
}
/* ...and switches it when it is open */
details[open] > summary::after {
  content: "-";
}
/* Removes the ugly default arrow on Chrome */
details > summary::-webkit-details-marker {
  display: none;
}
.text
{
    margin-left: 15px;
}
