.Unterkunft{
    position: relative;
    right: 300px;
}
.Zimmerntext
{
    position: relative;
    font-size: 18px;
    left: 12px;
    top: 8px;
    color: black;
}
.Design
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
.Schlafzimmer1
{
    border-style:groove;
    border-color: #fc03e8;
    width: 150px;
    height: 120px;
    border-radius: 10%;
    position: relative;
    left: 8px;
    
}
.Schlafzimmer1 .bed1
{
    width: 30px;
    height: 30px;
    margin-left: 38px;
    margin-top: 5px;
}
.Schlafzimmer1 .bed2
{
    width: 30px;
    height: 30px;
}
.Schlafzimmer1 .text
{
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    right: 5px;
    color: black;
}
.Schlafzimmer1 .text1
{
    font-size: 15px;
    color: gray;
    margin-top: 15px;
    text-align: center;
}
.Schlafzimmer2
{
    border-style:groove;
    border-color: #fc03e8;
    width: 150px;
    height: 120px;
    border-radius: 10%;
    position: relative;
}
.Schlafzimmer2 .bed1
{
    width: 30px;
    height: 30px;
    margin-left: 28px;
    margin-top: 5px;
}
.Schlafzimmer2 .bed2
{
    width: 30px;
    height: 30px;
}
.Schlafzimmer2 .bed3
{
    width: 30px;
    height: 30px;
}
.Schlafzimmer2 .text
{
    font-size: 17px;
    margin-top: 10px;
    position: relative;
    right: 5px;
    text-align: center;
    color: black;
}
.Schlafzimmer2 .text1
{
    font-size: 15px;
    color: gray;
    margin-top: 15px;
    text-align: center;
}
.Schlafzimmer3
{
    border-style:groove;
    border-color: #fc03e8;
    width: 150px;
    height: 120px;
    right: 10px;
    border-radius: 10%;
    position: relative;
}
.Schlafzimmer3 .bed1
{
    width: 30px;
    height: 30px;
    margin-left: 43px;
    margin-top: 5px;
}
.Schlafzimmer3 .bed2
{
    width: 30px;
    height: 30px;
}
.Schlafzimmer3 .text
{
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    right: 5px;
    color: black;
}
.Schlafzimmer3 .text1
{
    font-size: 15px;
    color: gray;
    margin-top: 15px;
    text-align: center;
}
.Design1
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
.Schlafzimmer4
{
    border-style:groove;
    border-color: #fc03e8;
    width: 150px;
    height: 120px;
    border-radius: 10%;
    position: relative;
    left: 8px;
}
.Schlafzimmer4 .bed1
{
    width: 30px;
    height: 30px;
    margin-left: 38px;
    margin-top: 5px;
}
.Schlafzimmer4 .bed2
{
    width: 30px;
    height: 30px;
}
.Schlafzimmer4 .text
{
    font-size: 17px;
    margin-top: 10px;
    position: relative;
    right: 5px;
    text-align: center;
    color: black;
}
.Schlafzimmer4 .text1
{
    font-size: 15px;
    color: gray;
    margin-top: 15px;
    text-align: center;
}
.Schlafzimmer5
{
    border-style:groove;
    border-color: #fc03e8;
    width: 150px;
    height: 120px;
    border-radius: 10%;
    position: relative; 
    right: 10px;
}
.Schlafzimmer5 .bed1
{
    width: 30px;
    height: 30px;
    margin-left: 25px;
    margin-top: 5px;
}
.Schlafzimmer5 .bed2
{
    width: 30px;
    height: 30px;
}
.Schlafzimmer5 .bed3
{
    width: 30px;
    height: 30px;
}
.Schlafzimmer5 .text
{
    font-size: 17px;
    margin-top: 10px;
    position: relative;
    right: 5px;
    text-align: center;
    color: black;
}
.Schlafzimmer5 .text1
{
    font-size: 15px;
    color: gray;
    margin-top: 15px;
    text-align: center;
}
.Badezimmermodul .Badezimmer_Titel{
    position: relative;
    left:15px;
    top: 5px;
}
.Badezimmermodul .Dusche{
    margin-left: 100px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
}
.Badezimmermodul .Dusche_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 20px;
}
.Badezimmermodul .Toilette{
    margin-left: 100px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
}
.Badezimmermodul .Toilette_Text{
    margin-left: 300px;
    font-size: large;
    color: black;
    position: relative;
    bottom: 20px;
}
.Badezimmermodul .Warmwasser{
    margin-left: 100px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
}
.Badezimmermodul .Warmwasser_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 20px;
}
.Badezimmermodul .Foehn{
    margin-left: 100px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
}
.Badezimmermodul .Foehn_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Schlafzimmermodul .Schlafzimmer_Titel{
    position: relative;
    left:15px;
    top: 15px;
}
.Schlafzimmermodul .Bettwaesche{
    margin-left: 100px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
}
.Schlafzimmermodul .Bettwaesche_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Schlafzimmermodul .Bettwaesche_Text2{
    margin-left: 300px;
    position: relative;
    color: gray;
    bottom: 30px;
    font-size: medium;
}
.Schlafzimmermodul .Kleiderbuegel{
    margin-left: 100px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
.Schlafzimmermodul .Kleiderbuegel_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Schlafzimmermodul .Waschestaender{
    margin-left: 100px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
.Schlafzimmermodul .Waschestaender_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Schlafzimmermodul .Waschmaschine{
    margin-left: 100px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
.Schlafzimmermodul .Waschmaschine_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Schlafzimmermodul .Trockner{
    margin-left: 100px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
.Schlafzimmermodul .Trockner_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Unterhaltungmodul .Unterhaltung_Titel{
    position: relative;
    left:15px;
    top: 15px;
}
.Unterhaltungmodul .Fernseher{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Unterhaltungmodul .Fernseher_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Heizungmodul .Heizung_Titel{
    position: relative;
    left:15px;
    top: 15px;
}
.Heizungmodul .Heizung{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Heizungmodul .Heizung_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
/*.Heizungmodul .Klima{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;

}
.Heizungmodul .Klima_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
    text-decoration: line-through;
}*/
.Zuhausemodul .Zuhause_Titel{
    position: relative;
    left:15px;
    top: 15px;
}
.Zuhausemodul .Rauchmelder{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Zuhausemodul .Rauchmelder_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Zuhausemodul .ErsteHilfe{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Zuhausemodul .ErsteHilfe_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Wlanmodul .Wlan_Titel{
    position: relative;
    left:15px;
    top: 15px;
}
.Wlanmodul .Wlan{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Wlanmodul .Wlan_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Kuechemodul .Kueche_Titel{
    position: relative;
    left:15px;
    top: 15px;
}
.Kuechemodul .kitchen{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Kuechemodul .kitchen_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Kuechemodul .kitchen_Text2{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: gray;
    bottom: 30px;
    font-size: medium;
}
.Kuechemodul .kochen{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Kuechemodul .kochen_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Kuechemodul .kochen_Text2{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: gray;
    bottom: 30px;
    font-size: medium;
}
.Kuechemodul .besteck{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Kuechemodul .besteck_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Kuechemodul .besteck_Text2{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: gray;
    bottom: 30px;
    font-size: medium;
}
.Kuechemodul .besteck{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Kuechemodul .besteck_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Kuechemodul .Kuehlschrank{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Kuechemodul .Kuehlschrank_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Kuechemodul .Gefrier{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Kuechemodul .Gefrier_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Kuechemodul .Mikrowelle{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Kuechemodul .Mikrowelle_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Kuechemodul .Ofen{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Kuechemodul .Ofen_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Kuechemodul .Cafe{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Kuechemodul .Cafe_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Kuechemodul .Wein{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Kuechemodul .Wein_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Kuechemodul .esstisch{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Kuechemodul .esstisch_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Rundmodul .Rund_Titel
{
    position: relative;
    left:15px;
    top: 15px;
}
.Rundmodul .Door{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Rundmodul .Door_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Rundmodul .Door_Text2{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: gray;
    bottom: 30px;
    font-size: medium;
}
.Aussenmodul .Aussen_Titel
{
    position: relative;
    left:15px;
    top: 15px;
}
.Aussenmodul .Aussen{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Aussenmodul .Aussen_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Aussenmodul .Aussen_Text2{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: gray;
    bottom: 30px;
    font-size: medium;
}
.Aussenmodul .Nachbar{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Aussenmodul .Nachbar_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Parkenmodul .Parken_Titel
{
    position: relative;
    left:15px;
    top: 15px;
}
.Parkenmodul .Parken{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Parkenmodul .Parken_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Servicemodul .Service_Titel
{
    position: relative;
    left:15px;
    top: 15px;
}
.Servicemodul .Kalender{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Servicemodul .Kalender_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}
.Servicemodul .Kalender_Text2{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: gray;
    bottom: 30px;
    font-size: medium;
}
.Servicemodul .Key{
    margin-left: 100px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.Servicemodul .Key_Text{
    margin-left: 300px;
    font-size: large;
    position: relative;
    color: black;
    bottom: 30px;
}