.Titel-Unterkunkft
{
   color: #fc03e8;
   font-family: serif;
   font-size: 40px;
   position: relative;
   left: 580px;
   bottom: 62px;
}
.Checkmodul .Check_Titel{
   position: relative;
   left:15px;
   top: 5px;
}
.Checkmodul .Checkin{
   margin-left: 100px;
   margin-top: 10px;
   width: 40px;
   height: 40px;
}
.Checkmodul .Checkin_Text{
   margin-left: 300px;
   font-size: large;
   position: relative;
   color: black;
   bottom: 30px;
}
.Checkmodul .Checkout{
   margin-left: 100px;
   margin-top: 10px;
   width: 40px;
   height: 40px;
}
.Checkmodul .Checkout_Text{
   margin-left: 300px;
   font-size: large;
   position: relative;
   color: black;
   bottom: 30px;
}
.Aufenhaltmodul .Aufenhalt_Titel{
   position: relative;
   left:15px;
   top: 5px;
}
.Aufenhaltmodul .Mehrmenschen{
   margin-left: 100px;
   margin-top: 10px;
   width: 40px;
   height: 40px;
}
.Aufenhaltmodul .Mehrmenschen_Text{
   margin-left: 300px;
   font-size: large;
   position: relative;
   color: black;
   bottom: 30px;
}
.Aufenhaltmodul .Tiere{
   margin-left: 100px;
   margin-top: 10px;
   width: 40px;
   height: 40px;
}
.Aufenhaltmodul .Tiere_Text{
   margin-left: 300px;
   font-size: large;
   position: relative;
   color: black;
   bottom: 30px;
}
.Aufenhaltmodul .Rauchen{
   margin-left: 100px;
   margin-top: 10px;
   width: 40px;
   height: 40px;
}
.Aufenhaltmodul .Rauchen_Text{
   margin-left: 300px;
   font-size: large;
   position: relative;
   color: black;
   bottom: 30px;
}
.Sicherheit_Unterkunft_Text{
   position: relative;
   font-size: 18px;
   top:8px;
   left: 20px;
}
.Sicherheitmodul .Sicherheit_Titel{
   margin-top: 20px;
   position: relative;
   left:15px;
}
.Sicherheitmodul .kohlenoxid{
   margin-left: 100px;
   margin-top: 10px;
   width: 40px;
   height: 40px;
}
.Sicherheitmodul .kohlenoxid_Text{
   margin-left: 300px;
   font-size: large;
   position: relative;
   color: black;
   bottom: 40px;
}
.Sicherheitmodul .kohlenoxid_Text2{
   margin-left: 300px;
   position: relative;
   color: gray;
   bottom: 40px;
   font-size: medium;
}
.Sicherheitmodul .Rauchmelder{
   margin-left: 100px;
   margin-top: 10px;
   width: 40px;
   height: 40px;
}
.Sicherheitmodul .Rauchmelder_Text{
   margin-left: 300px;
   font-size: large;
   position: relative;
   color: black;
   bottom: 40px;
}
.Informationunterkunftmodul .Informationunterkunft_Titel{
   position: relative;
   left:15px;
   top: 5px;
}
.Informationunterkunftmodul .UnterkunftHome{
   margin-left: 100px;
   margin-top: 10px;
   width: 40px;
   height: 40px;
}
.Informationunterkunftmodul .UnterkunftHome_Text{
   margin-left: 300px;
   font-size: large;
   position: relative;
   color: black;
   bottom: 40px;
}
.Informationunterkunftmodul .UnterkunftHome_Text2{
   margin-left: 300px;
   position: relative;
   color: gray;
   bottom: 40px;
   font-size: medium;
}
.Informationunterkunftmodul .Teilenzimmer{
   margin-left: 100px;
   margin-top: 10px;
   width: 40px;
   height: 40px;
}
.Informationunterkunftmodul .Teilenzimmer_Text{
   margin-left: 300px;
   font-size: large;
   position: relative;
   color: black;
   bottom: 30px;
}
.Informationunterkunftmodul .Lautstaerke{
   margin-left: 100px;
   margin-top: 10px;
   width: 40px;
   height: 40px;
}
.Informationunterkunftmodul .Lautstaerke_Text{
   margin-left: 300px;
   font-size: large;
   position: relative;
   color: black;
   bottom: 30px;
}
.Informationunterkunftmodul .Treppe{
   margin-left: 100px;
   margin-top: 10px;
   width: 40px;
   height: 40px;
}
.Informationunterkunftmodul .Treppe_Text{
   margin-left: 300px;
   font-size: large;
   position: relative;
   color: black;
   bottom: 30px;
}
.Stonierung{
   position: relative;
   font-size: 18px;
   top:8px;
   left: 20px;
}