.contact-form {
  max-width: 600px; /* Größere Breite für das Formular */
  margin: 0 auto; /* Zentriert das Formular horizontal */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px; /* Größere Polsterung für den Senden-Button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.error {
  color: red;
}

.success {
  color: green;
}
