.Unterkunft2{
    margin-right: 100px;
}
.Zimmermodul{
    display:flex; 
    flex-direction:row;
    margin-left: 200px;
}
.Zimmermodul .Zimmer{
    width: 50px;
    height: 50px;
    color: #fc03e8;
}
.Zimmermodul .Zimmer_Text{
    font-size:large;
    position: relative;
    top: 5px;
}
.Zimmermodul .Zimmer_Text2
{
    color: gray;
    font-size: medium;
}
.Zimmermodul .Zimmer_Text3
{
    color: gray;
    font-size: medium;
}
.Gemeinsammodul{
    display:flex; 
    flex-direction:row;
    margin-left: 200px;
    margin-top: 20px;
}
.Gemeinsammodul .Gemeinsam{
    width: 50px;
    height: 50px;
    color: #fc03e8;
}
.Gemeinsammodul .Gemeinsam_Text{
    font-size:large;
    position: relative;
    top: 5px;
}
.Gemeinsammodul .Gemeinsam_Text2
{
    color: gray;
    font-size: medium;
}
.Showermodul{
    display:flex; 
    flex-direction:row;
    margin-left: 200px;
    margin-top: 20px;
}
.Showermodul .Shower{
    width: 50px;
    height: 50px;
    color: #fc03e8;
}
.Showermodul .Shower_Text{
    font-size:large;
    position: relative;
    top: 5px;
}
.Showermodul .Shower_Text2
{
    color: gray;
    font-size: medium;
}
.Parkmodul{
    display:flex; 
    flex-direction:row;
    margin-left: 200px;
    margin-top: 20px;
}
.Parkmodul .Park{
    width: 50px;
    height: 50px;
    color: #fc03e8;
}
.Parkmodul .Park_Text{
    font-size:large;
    position: relative;
    top: 5px;
}
.Parkmodul .Park_Text2
{
    color: gray;
    font-size: medium;
}