.Titel-Homepage
{
   color: #fc03e8;
   font-family: serif;
   font-size: 60px;
   margin-left: 270px;
}
.Slider{
   width: 750px;
   height: 94vh;
   position: relative;
   overflow: hidden;
   float: right;
   bottom: 105px;
}
.slide{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   transform: translateX(0);
   transition: all 0,5 ease;
}

@media screen and (min-width: 200px)  {
   .slide img{
      width: 100%;
      height: 100%;
   }
}

@media  screen and (max-width: 1000px) {
   .content{
      width: 80%;
   }
   
}

.slide img{
   height: 700px;
}

.content{
   position: absolute;
   top: 15rem;
   left: 5rem;
   opacity: 0;
   width: 400px;
   padding: 3rem;
   background: rgba(0,0,0,0.3);
   animation: slide-up 1s ease .5s;
   animation-fill-mode: forwards;
}
@keyframes slide-up {
   0%{
      visibility: visible;
      top: 23rem;
   }
   100%{
      visibility: visible;
      top: 15rem;
   }
   
}

.content >*{
   color: #fff;
   margin-bottom: 1rem;
}
.current{
   opacity: 1;
   transform: translateX(0);
   
}
.current .content{
   opacity: 1;  
}
.arrow{
   border: 2px solid #fff;
   background: transparent;
   color: #fff;
   width: 2rem;
   height: 2rem;
   cursor: pointer;
   position: absolute;
   top: 50%;
   z-index: 999;
}

.arrow:hover{
   background: #fff;
   color: #777;
}
.next{
  right: 1.5rem;
   
}
.prev{
   left: 1.5rem;
}
hr{
   height: 2px;
   background: #fff;
   
}
.border{
   border: 2px solid #f6f2ec;
   border-radius: 12px;
   padding: 35px;
   background-color: #f6f2ec;
   float: left;
   position: relative;
   width: 450px;
   left: 235px;
   top: 80px;

}
.Startzeit{
   padding: 5px;
   font-size: 22px;
   position: relative;
   left: 40px;
   bottom: 25px;
   width: 285px;
   border: 2px groove #7d7c7c;
}
.Endzeit{
   padding: 5px;
   font-size: 22px;
   position: relative;
   bottom: 8px;
   left: 40px;
   width: 285px;
   border: 2px groove #7d7c7c;
}
.Guest_Button{
   padding: 5px;
   width: 285px;
   font-size: 22px;
   position: relative;
   left: 23px;
   top: 9px;
   background-color: white;
   color: black;
   border: 2px groove #7d7c7c;
}
.Text{
   font-size: 22px;
   position: relative;
   left: 9px;
   bottom: 1px;
}
.Erminus{
   position: relative;
   left: 10px;
   top: 2px;
   width: 22px;
   height: 22px;
}
.Erplus{
   position: relative;
   left: 20px;
   top: 2px;
   width: 22px;
   height: 22px;
}
.ErText{
   font-size: 22px;
}
.Text2{
   font-size: 22px;
   position: relative;
   left: 42px;
   bottom: 1px;
}
.KiText{
font-size: 22px;
}
.Kiminus{
   position: relative;
   left: 43px;
   top: 2px;
   width: 22px;
   height: 22px;
}
.Kiplus{
   position: relative;
   left: 53px;
   top: 2px;
   width: 22px;
   height: 22px;
}
.GSubmit{
   padding: 12px 12px;
}
.Submit{
   padding: 5px;
   width: 285px;
   position: relative;
   left: 113px;
   top:26px;
   font-size: 22px;
   background-color: #eb07fc;
   border: 2px groove #7d7c7c;
}
.Submit:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   background-color: #f6f2ec;
 }
.Anreise{
   position: relative;
   left: 0px;
   font-size: 22px;
   bottom: 25px;
}
.Abreise{
   position: relative;
   left: 0px;
   bottom: 8px;
   font-size: 22px;
}
.Guest{
   position: relative;
   left: 0px;
   font-size: 22px;
   top: 5px;
}

