.Titel-Unterkunkft
{
   color: #fc03e8;
   font-family: serif;
   font-size: 40px;
   position: relative;
   left: 580px;
   bottom: 62px;
}
.Usermod{
    display: flex;
    justify-content: space-between;
}
.Usermod .Bild{
    position: relative;
    left: 250px;
}
.Sprachenmodul{
    display:flex; 
    flex-direction:row;
    position: relative;
    top: 5rem;
}
.Sprachenmodul .Sprache{
    width: 30px;
    height: 30px;
    color: #fc03e8;
}
.Sprachenmodul .Sprache_Text
{
    font-size:medium;
    position: relative;
    top: 5px;
    left: 10px;
}
.Lebenmodul{
    display:flex; 
    flex-direction:row;
    position: relative;
    right: 695px;
    top: 10rem;
    
}
.Lebenmodul .Leben{
    width: 30px;
    height: 30px;
    color: #fc03e8;
}
.Lebenmodul .Leben_Text
{
    font-size:medium;
    position: relative;
    top: 5px;
    left: 10px;
}